<div>
  <div class="col-md-12 col-lg-12 col-sm-12">
    <button class="btn btn-success pull-left" (click)="addPlayerStats()">
      <i class="fa fa-plus"></i> <span>Add new player stats</span>
    </button>
    <br />
    <br />

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th><span>Efficiency</span></th>
          <th><span>Goals scored</span></th>
          <th><span>Faults</span></th>
          <th><span>Assists</span></th>
          <th><span>Unprovoked mistakes</span></th>
          <th><span>Minutes played</span></th>
          <th><span>Game</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let playerStats of playerStatsList">
          <td>
            <span>{{ playerStats.efficiency }}</span>
          </td>
          <td>
            <span>{{ playerStats.noOfGoals }}</span>
          </td>
          <td>
            <span>{{ playerStats.noOfFaults }}</span>
          </td>
          <td>
            <span>{{ playerStats.noOfAssists }}</span>
          </td>
          <td>
            <span>{{ playerStats.noOfUnprovokedMistakes }}</span>
          </td>
          <td>
            <span>{{ playerStats.minutesPlayed }}</span>
          </td>
          <td>
            <span
              >{{ playerStats.game.hostTeam.name }} -
              {{ playerStats.game.guestTeam.name }}</span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
