<div>
  <div class="form-group float-label-control" *ngIf="onCreate && teamList">
    <div class="form-group">
      <label for="team">Team</label>
      <select
        name="hostTeam"
        id="teamId"
        class="form-control"
        [(ngModel)]="selectedTeamId"
      >
        <option *ngFor="let team of teamList" [value]="team.id">
          {{ team.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="form-group float-label-control" *ngIf="!onCreate && toAdd.team">
    <label><span>Team</span></label>
    <input
      type="text"
      class="form-control"
      title="host team"
      [(ngModel)]="toAdd.team.name"
      name="teamName"
      disabled
    />
  </div>
  <div class="form-group float-label-control">
    <label><span>Efficiency</span></label>
    <input
      type="text"
      class="form-control"
      placeholder="0"
      title="efficiency"
      [(ngModel)]="toAdd.efficiency"
      name="efficiency"
    />
  </div>
  <div class="form-group float-label-control">
    <label><span>Goalkeeper Efficiency</span></label>
    <input
      type="text"
      class="form-control"
      placeholder="50"
      title="Goalkeeper Efficiency"
      [(ngModel)]="toAdd.goalkeeperEfficiency"
      name="goalkeeperEfficiency"
    />
  </div>
  <div class="form-group float-label-control">
    <label><span>Fastbreak goals</span></label>
    <input
      type="text"
      class="form-control"
      placeholder="1"
      title="Fastbreak Goals"
      [(ngModel)]="toAdd.fastbreakGoals"
      name="fastbreakGoals"
    />
  </div>
  <div class="form-group float-label-control">
    <label><span>Most valuable player</span></label>
    <input
      type="text"
      class="form-control"
      placeholder="1"
      title="Most valuable player"
      [(ngModel)]="toAdd.mvp"
      name="mvp"
    />
  </div>
  <div class="form-group float-label-control">
    <label><span>Ball Possession</span></label>
    <input
      type="text"
      class="form-control"
      placeholder="1"
      title="bBll Possession"
      [(ngModel)]="toAdd.ballPossession"
      name="ballPossession"
    />
  </div>
  <button id="save-btn" class="btn btn-success btn-md" (click)="create()">
    <i class="fa fa-save"></i> <span>Save</span>
  </button>
</div>
