<div>
  <div class="col-md-12 col-lg-12 col-sm-12">
    <button class="btn btn-success pull-left" (click)="addTeam()">
      <i class="fa fa-plus"></i> <span>Add new team</span>
    </button>
    <br />
    <br />

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th><span>Name</span></th>
          <th><span>Address</span></th>
          <th><span>Winrate</span></th>
          <th><span>Current Position</span></th>
          <th><span>Owner</span></th>
          <th><span>Coach</span></th>
          <th><span>Championship</span></th>
          <th><span>Players</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let team of teamList">
          <td>
            <span>{{ team.name }}</span>
          </td>
          <td>
            <span>{{ team.address }}</span>
          </td>
          <td>
            <span>{{ team.winrate }}</span>
          </td>
          <td>
            <span>{{ team.currentPosition }}</span>
          </td>
          <td>
            <span>{{ team.owner }}</span>
          </td>
          <td>
            <span>{{ team.coach }}</span>
          </td>
          <td *ngIf="team.championship">
            <span>{{ team.championship.name }}</span>
          </td>

          <td>
            <a class="btn btn-link pull-left" (click)="viewPlayers(team.id)">
              <span> Players</span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
