<div>
  <div *ngIf="onCreate">
    <div class="form-group float-label-control">
      <div class="form-group">
        <label for="hostTeam">Host Team</label>
        <select
          name="hostTeam"
          id="hostTeamId"
          class="form-control"
          [(ngModel)]="selectedHostTeamId"
        >
          <option *ngFor="let team of teamList" [value]="team.id">
            {{ team.name }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="guestTeam">Guest Team</label>
        <select
          name="guestTeam"
          id="guestTeamId"
          class="form-control"
          [(ngModel)]="selectedGuestTeamId"
        >
          <option *ngFor="let team of teamList" [value]="team.id">
            {{ team.name }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div *ngIf="!onCreate">
    <div class="form-group float-label-control">
      <label><span>Host team</span></label>
      <input
        type="text"
        class="form-control"
        title="host team"
        [(ngModel)]="toAdd.hostTeam.name"
        name="hostTeamName"
        disabled
      />
    </div>
    <div class="form-group float-label-control">
      <label><span>Guest team</span></label>
      <input
        type="text"
        class="form-control"
        title="guest team"
        [(ngModel)]="toAdd.guestTeam.name"
        name="guestTeamName"
        disabled
      />
    </div>
  </div>
  <div class="form-group float-label-control">
    <label><span>Score</span></label>
    <input
      type="text"
      class="form-control"
      placeholder="0 - 0"
      title="score"
      [(ngModel)]="toAdd.score"
      name="score"
    />
  </div>
  <div class="form-group float-label-control">
    <label><span>Date and Time</span></label>
    <input
      type="text"
      class="form-control"
      placeholder="01/01/2020 12:30"
      title="datetime"
      [(ngModel)]="toAdd.datetime"
      name="datetime"
    />
    <div class="form-group float-label-control">
      <label><span>Game number</span></label>
      <input
        type="text"
        class="form-control"
        placeholder="1"
        title="gameNumber"
        [(ngModel)]="toAdd.gameNumber"
        name="gameNumber"
      />
    </div>
    <div *ngIf="onCreate" class="form-group">
      <label for="championship">Championship</label>
      <select
        name="championship"
        id="championshipId"
        class="form-control"
        [(ngModel)]="selectedChampionshipId"
      >
        <option
          *ngFor="let championship of championshipList"
          [value]="championship.id"
        >
          {{ championship.name }}
        </option>
      </select>
    </div>
    <div *ngIf="!onCreate" class="form-group float-label-control">
      <label><span>Championship</span></label>
      <input
        type="text"
        class="form-control"
        title="championship"
        [(ngModel)]="toAdd.championship.name"
        name="championship"
        disabled
      />
    </div>
    <button id="save-btn" class="btn btn-success btn-md" (click)="create()">
      <i class="fa fa-save"></i> <span>Save</span>
    </button>
  </div>
</div>
