<div>
  <div class="form-group float-label-control" *ngIf="toAdd.player">
    <label><span>Player name</span></label>
    <input
      type="text"
      class="form-control"
      title="player name"
      name="name"
      [(ngModel)]="toAdd.player.name"
      disabled
    />
  </div>
  <div class="form-group" *ngIf="toAdd.game">
    <label for="game">Game</label>
    <select
      name="game"
      id="gameId"
      class="form-control"
      [(ngModel)]="selectedGameId"
    >
      <option *ngFor="let game of gameList" [value]="game.id">
        {{ toAdd.game.hostTeam.name }} - {{ toAdd.game.guestTeam.name }}
      </option>
    </select>
  </div>
  <div class="form-group float-label-control">
    <label><span>Efficiency</span></label>
    <input
      type="text"
      class="form-control"
      placeholder="50"
      title="efficiency"
      [(ngModel)]="toAdd.efficiency"
      name="efficiency"
    />
  </div>
  <div class="form-group float-label-control">
    <label><span>Goals scored</span></label>
    <input
      type="text"
      class="form-control"
      placeholder="0"
      title="goals scored"
      [(ngModel)]="toAdd.noOfGoals"
      name="noOfGoals"
    />
  </div>
  <div class="form-group float-label-control">
    <label><span>Assits</span></label>
    <input
      type="text"
      class="form-control"
      placeholder="65"
      title="Assits"
      [(ngModel)]="toAdd.noOfAssists"
      name="number of assits"
    />
    <div class="form-group float-label-control">
      <label><span>Unprovoked mistakes</span></label>
      <input
        type="text"
        class="form-control"
        placeholder="1"
        title="Unprovoked mistakes"
        [(ngModel)]="toAdd.noOfUnprovokedMistakes"
        name="number Of UnprovokedMistakes"
      />
    </div>
    <div class="form-group float-label-control">
      <label><span>Faults</span></label>
      <input
        type="text"
        class="form-control"
        placeholder="4"
        title="faults commited"
        [(ngModel)]="toAdd.noOfFaults"
        name="number Of Faults"
      />
    </div>
    <div class="form-group float-label-control">
      <label><span>Minutes played</span></label>
      <input
        type="text"
        class="form-control"
        placeholder="45"
        title="minutes played"
        [(ngModel)]="toAdd.minutesPlayed"
        name="minutesPlayed"
      />
    </div>
    <button id="save-btn" class="btn btn-success btn-md" (click)="create()">
      <i class="fa fa-save"></i> <span>Save</span>
    </button>
  </div>
</div>
