<div>
  <div class="col-md-12 col-lg-12 col-sm-12">
    <button class="btn btn-success pull-left" (click)="addGame()">
      <i class="fa fa-plus"></i> <span>Add new game</span>
    </button>
    <br />
    <br />

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>
            <a>
              <span>Host team</span>
            </a>
          </th>
          <th><span>Guest team</span></th>
          <th><span>Date Time</span></th>
          <th><span>Score</span></th>
          <th><span>Game number</span></th>
          <th><span>Championship</span></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of gameList">
          <td>
            <a
              (click)="editStats(game.id, game.hostTeam.id)"
              class="btn btn-link"
            >
              <span>{{ game.hostTeam.name }}</span>
            </a>
          </td>
          <td>
            <a
              (click)="editStats(game.id, game.guestTeam.id)"
              class="btn btn-link"
            >
              <span>{{ game.guestTeam.name }}</span>
            </a>
          </td>
          <td>
            <span>{{ game.datetime }}</span>
          </td>
          <td>
            <span>{{ game.score }}</span>
          </td>
          <td>
            <span>{{ game.gameNumber }}</span>
          </td>
          <td>
            <span>{{ game.championship.name }}</span>
          </td>
          <td>
            <button
              class="btn btn-success pull-left"
              (click)="editGame(game.id)"
            >
              <i class="fa fa-pencil"></i> <span>Edit</span>
            </button>
          </td>
          <td>
            <button
              class="btn btn-success pull-left"
              (click)="addStats(game.id)"
            >
              <i class="fa fa-plus"></i> <span> Stats</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
