<div>
  <div class="form-group float-label-control">
    <label><span>Player name*</span></label>
    <input
      type="text"
      class="form-control"
      placeholder="Premier League"
      title="Championship name"
      name="name"
      [(ngModel)]="toAdd.name"
    />
  </div>
  <div class="form-group float-label-control">
    <label><span>Address</span></label>
    <input
      type="text"
      class="form-control"
      placeholder="Bucharest"
      title="address"
      [(ngModel)]="toAdd.address"
      name="address"
    />
  </div>
  <div class="form-group float-label-control">
    <label><span>Position</span></label>
    <input
      type="text"
      class="form-control"
      placeholder="left back"
      title="position"
      [(ngModel)]="toAdd.position"
      name="position"
    />
  </div>
  <div class="form-group float-label-control">
    <label><span>Efficiency</span></label>
    <input
      type="text"
      class="form-control"
      placeholder="65"
      title="Efficiency"
      [(ngModel)]="toAdd.efficiency"
      name="efficiency"
    />
    <div class="form-group float-label-control">
      <label><span>Annual Salary</span></label>
      <input
        type="text"
        class="form-control"
        placeholder="12000"
        title="Annual Salary"
        [(ngModel)]="toAdd.annualSalary"
        name="annualSalary"
      />
    </div>
    <div class="form-group float-label-control">
      <label><span>Phone number</span></label>
      <input
        type="text"
        class="form-control"
        placeholder="1234567890"
        title="phone number"
        [(ngModel)]="toAdd.phoneNumber"
        name="phoneNumber"
      />
    </div>
    <button id="save-btn" class="btn btn-success btn-md" (click)="create()">
      <i class="fa fa-save"></i> <span>Save</span>
    </button>
  </div>
</div>
