<div>
  <div class="col-md-12 col-lg-12 col-sm-12">
    <button class="btn btn-success pull-left" (click)="addPlayer()">
      <i class="fa fa-plus"></i> <span>Add new player</span>
    </button>
    <br />
    <br />
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>
            <span>Player name</span>
          </th>
          <th><span>Phone number</span></th>
          <th><span>Address</span></th>
          <th><span>Efficiency</span></th>
          <th><span>Annual Salary</span></th>
          <th><span>Postiion</span></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of playerList">
          <td>
            <span>{{ player.name }}</span>
          </td>
          <td>
            <span>{{ player.phoneNumber }}</span>
          </td>
          <td>
            <span>{{ player.address }}</span>
          </td>
          <td>
            <span>{{ player.efficiency }}</span>
          </td>
          <td>
            <span>{{ player.annualSalary }}</span>
          </td>
          <td>
            <span>{{ player.position }}</span>
          </td>

          <td>
            <button
              class="btn btn-success pull-left"
              (click)="addStats(player.id)"
            >
              <i class="fa fa-plus"></i> <span> Stats</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
