<nav class="navbar navbar-light bg-light">
  <div class="navbar-header">
    <a class="navbar-brand" [routerLink]="'/championships'">Teams Management</a>
  </div>

  <ul class="nav navbar-nav list-group list-group-horizontal">
    <li class="list-group-item">
      <a
        [routerLink]="'/championships'"
        routerLinkActive="active"
        class="nav-link"
        >Championships</a
      >
    </li>
    <li class="list-group-item">
      <a [routerLink]="'/teams'" routerLinkActive="active" class="nav-link"
        >Teams</a
      >
    </li>
    <li class="list-group-item">
      <a [routerLink]="'/games'" routerLinkActive="active" class="nav-link"
        >Games</a
      >
    </li>
  </ul>
</nav>
