<div>
  <div class="form-group float-label-control">
    <label><span>Team name*</span></label>
    <input
      type="text"
      class="form-control"
      placeholder="Premier League"
      title="Championship name"
      name="name"
      [(ngModel)]="toAdd.name"
    />
  </div>
  <div class="form-group float-label-control">
    <label><span>Address</span></label>
    <input
      type="text"
      class="form-control"
      placeholder="Bucharest"
      title="address"
      [(ngModel)]="toAdd.address"
      name="address"
    />
  </div>
  <div class="form-group float-label-control">
    <label><span>Owner</span></label>
    <input
      type="text"
      class="form-control"
      placeholder="John Doe"
      title="owner"
      [(ngModel)]="toAdd.owner"
      name="owner"
    />
  </div>
  <div class="form-group float-label-control">
    <label><span>Coach</span></label>
    <input
      type="text"
      class="form-control"
      placeholder="Jane Doe"
      title="coach"
      [(ngModel)]="toAdd.coach"
      name="coach"
    />
    <div class="form-group float-label-control">
      <label><span>Winrate</span></label>
      <input
        type="text"
        class="form-control"
        placeholder="50%"
        title="winrate"
        [(ngModel)]="toAdd.winrate"
        name="winrate"
      />
    </div>
    <div class="form-group float-label-control">
      <label><span>Current Position</span></label>
      <input
        type="text"
        class="form-control"
        placeholder="12"
        title="current position"
        [(ngModel)]="toAdd.currentPosition"
        name="currentPosition"
      />
    </div>
    <div class="form-group">
      <label for="contactMethod">Championship</label>
      <select
        name="championship"
        id="championshipId"
        class="form-control"
        [(ngModel)]="selectedChampionshipId"
      >
        <option
          *ngFor="let championship of championshipList"
          [value]="championship.id"
        >
          {{ championship.name }}
        </option>
      </select>
    </div>
    <button id="save-btn" class="btn btn-success btn-md" (click)="create()">
      <i class="fa fa-save"></i> <span>Save</span>
    </button>
  </div>
</div>
