<div>
  <div class="col-md-12 col-lg-12 col-sm-12">
    <button class="btn btn-success pull-left" (click)="addChampionship()">
      <i class="fa fa-plus"></i> <span>Add new championship</span>
    </button>
    <br />
    <br />

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th><span>Name</span></th>
          <th><span>Prize Pool</span></th>
          <th><span>Start Date</span></th>
          <th><span>End Date</span></th>
          <th><span>Number of games</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let championship of championshipList">
          <td>
            <span>{{ championship.name }}</span>
          </td>
          <td>
            <span>{{ championship.prizePool }}</span>
          </td>
          <td>
            <span>{{ championship.startDate }}</span>
          </td>
          <td>
            <span>{{ championship.endDate }}</span>
          </td>
          <td>
            <span>{{ championship.noOfGames }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
