<div>
  <div class="form-group float-label-control">
    <label><span>Championship name*</span></label>
    <input
      type="text"
      class="form-control"
      placeholder="Premier League"
      title="Championship name"
      name="name"
      [(ngModel)]="toAdd.name"
    />
  </div>
  <div class="form-group float-label-control">
    <label><span>Prize Pool</span></label>
    <input
      type="text"
      class="form-control"
      placeholder="1000000"
      title="prize pool"
      [(ngModel)]="toAdd.prizePool"
      name="prizePool"
    />
  </div>
  <div class="form-group float-label-control">
    <label><span>Start date</span></label>
    <input
      type="text"
      class="form-control"
      placeholder="01/01/2020"
      title="startDate"
      [(ngModel)]="toAdd.startDate"
      name="startDate"
    />
  </div>
  <div class="form-group float-label-control">
    <label><span>End date</span></label>
    <input
      type="text"
      class="form-control"
      placeholder="01/01/2021"
      title="endDate"
      [(ngModel)]="toAdd.endDate"
      name="endDate"
    />
    <div class="form-group float-label-control">
      <label><span>Number of games</span></label>
      <input
        type="text"
        class="form-control"
        placeholder="24"
        title="number of games"
        [(ngModel)]="toAdd.noOfGames"
        name="noOfGames"
      />
    </div>
    <button id="save-btn" class="btn btn-success btn-md" (click)="create()">
      <i class="fa fa-save"></i> <span>Save</span>
    </button>
  </div>
</div>
